<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Definition & Translation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h4 class="m-4 p-3" >Image URL - {{ word }}</h4>
    <div class="m-4 p-3">
        <h3>Image Objects - </h3>
        <div style="margin-left: 40px;">
            {% for i in img %}
                <li>{{ i }}</li>
            {% endfor %}
        </div>
    </div>
    <div class="m-4 p-3">
        <button class="btn btn-primary " type="button" data-toggle="collapse" data-target="#english" aria-expanded="false" aria-controls="english">
            English
        </button>

         <button class="btn btn-primary ml-5" type="button" data-toggle="collapse" data-target="#spanish" aria-expanded="false" aria-controls="spanish">
            Española
        </button>

         <button class="btn btn-primary ml-5" type="button" data-toggle="collapse" data-target="#french" aria-expanded="false" aria-controls="french">
            Française
        </button>
    </div>


    <div class="collapse m-4" id="english">
      <div class="card card-body">
          <h4>{{ e }}</h4>
          {% if d == None %}
            <p>Can't find the definition</p>
            {% else %}
                 {% for i in d.keys() %}
                    <li>{{ i }}</li>
                    <div>
                        {% for x in range(2) %}
                            <p style="margin-left: 40px;"> - {{ d[i][x] }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
          {% endif %}
      </div>
    </div>

    <div class="collapse m-4" id="spanish">
      <div class="card card-body">
        <h4>{{ s }}</h4>
            {% for i in spa_key %}
                <li>{{ i }}</li>
            {% endfor %}
      </div>
    </div>

    <div class="collapse m-4" id="french">
      <div class="card card-body">
        {{ f }}
      </div>
    </div>
</body>
</html>